:root {
    --gray-color:#949494;
    --dark-gray-color:#292929;
    --green-color:#4CAF50;
    --green-hover:#45a049;
    --red-color:#4e0710;
    --red-hover:#4a070f;
}

body {
    background-color: var(--dark-gray-color);
    text-align: center;
    color: white;
    font-family: verdana;
    font-size: 18px;
}
h1 {
    color: var(--gray-color)
}
input[type=text], select {
    width: 80%;
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}

input[type=password], select {
    width: 80%;
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}

input[type=submit] {
    width: 80%;
    background-color: var(--green-color);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

input[type=button] {
    width: 80%;
    background-color: var(--green-color);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

input[type=button]:hover {
    background-color: var(--green-hover);
}

input.cancelButton[type=submit] {
    width: 80%;
    background-color: var(--red-color);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

input.cancelButton[type=submit]:hover {
    background-color: var(--red-hover);
}

textarea {
    resize: none;
    color: white;
    background-color: var(--dark-gray-color);
    font-size: 14px;
}

textarea:hover{
    /*background-color: #242424;*/
    outline: none !important;
    border-color: white;
    box-shadow: 0 0 10px white;
}

textarea:focus {
    outline: none !important;
    border-color: white;
    box-shadow: 0 0 10px white;
}

input[type=submit]:hover {
    background-color: var(--green-hover);
}

.div1 {
    width: 30%;
    border-radius: 5px;
    background-color: #454545;
    padding: 20px;
    margin: auto;
}
table {
    width:97%
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid #ffffff;
}

th, td {
    padding: 3px;
    color: white;
    vertical-align: center;
}

table td:nth-child(10) {
    text-align: center;
    width: 30px;
}

table td:nth-child(11) {
    text-align: center;
    width: 100px;
}

table td:nth-child(12) {
    text-align: center;
    width: 100px;
}

p {
    font-size: 18px;
    color: white;
}

.tlogin, .tlogin td, .tlogin th {
    horiz-align: center;
    border: 0px solid;
}
.tlogin td:nth-child(1) {
    width: 100px;
}
.tlogin td:nth-child(2) {
    width: 300px;
}

.tfilter {
    width: 200px;
}

 * {
     box-sizing: border-box;
 }

.zoom {
    padding: 0px;
    /*background-color: green;*/
    transition: transform .2s;
    /*width: 200px;*/
    height: 100px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(4); /* IE 9 */
    -webkit-transform: scale(4); /* Safari 3-8 */
    transform: scale(4);
}

