<web-app>

    <!--SERVLETS LIST-->

    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.EchoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ru.job4j.userservlet.UserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UserMainServlet</servlet-name>
        <servlet-class>ru.job4j.userservlet.UserMainServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>ru.job4j.userservlet.UserCreateServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>ru.job4j.userservlet.UserDeleteServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>ru.job4j.userservlet.UserUpdateServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <!--MAPPINGS-->

    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserMainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <!--OTHER-->

    <listener>
        <listener-class>
            ru.job4j.utils.AllServletsContext
        </listener-class>
    </listener>
</web-app>